@model MainBit.SeoTags.Settings.SeoTagsPartSettings

<fieldset>
    <div>
        @Html.EditorFor(m => m.AddPageToTitle)
        <label class="forcheckbox" for="@Html.FieldIdFor(m => m.AddPageToTitle)">@T("Add page number to title and description meta tags")</label>
    </div>
</fieldset>

